<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates</title>
</head>
<body>
    <h1 align='center'>Welcome to Text Analyser.</h1>
    <form action="/analyse " method="get">
        <textarea name='text' style="margin: 0px; width: 1511px; height: 228px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Puncuation<br>
        <input type="checkbox" name="capitalize">All Capitalize<br>
        <input type="checkbox" name="newlineremover">New Line Remover<br>
        <input type="checkbox" name="charcounter">char counter<br>
        <button type="submit" class="btn btn-success">Analyse text</button>
    </form>
</body>
</html>